*
!_dummy
!attic
!cache
!deleted.files
!dont-panic-if-you-see-this-in-your-logs-it-means-your-directory-permissions-are-correct.png
!dont-panic-if-you-see-this-in-your-logs-it-means-your-directory-permissions-are-correct.xcf
!index
!locks
!media
!media/wiki
!media/wiki/*
!media_attic
!media_meta
!meta
!pages
!tmp
!.gitignore

